.sidenav-container {
  height: 100%;
  background-color: transparent;


}
.sidenav-content {
  height:40em; background-size:cover; width:auto;

  background-position: 100%;
  padding: 0;
}

.sidenav {
  width: 200px;
  opacity: .8;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}


.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
